.testblock {
	width:300px;
	height:100px;
	margin: 0 auto;
	border: 2px solid red;
	font-size:14px;


}

#story {
		color:#fff;
}

#square
{
border:1px solid;
width:250px;
height:250px;
font-size:30px;
padding-left:30px;
padding-top:100px;
float:left;
margin-right:15px;
}
#coord
{
font-size:1.2em;
text-align:center;
}

#sold {
	font-size:14px;
	text-align:center;
	color:#992;
	width:200px;
	height:30px;
	margin: 0 auto;
	background-color:#555222;
}

#sold2 {
	font-size:14px;
	text-align:center;
	color:#000992;
	width:200px;
	height:30px;
	margin: 0 auto;
	border: 3px solid green;
}

.newbl {
	width:500px;
	height:500px;
	background-color:#4D6082;
	margin:0 auto;
	border: 3px dotted #E7BA0A;
}

#b7,#b8,#b9,#b11,#b12 {
	border: 1px solid #fff;
	border-radius:3px;
}
#b13 {
	width:40px;
	height:20px;
	background-color:#000;
	color:#fff;
}

.exe {
	position:relative;
	font-size:18px;
	color:#fff;
}

input #but1,#but2,#but3,#but4 {
	background-color:#191;
}